<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RaspberryBoardConnectionString" value="HostName=IoTPwr.azure-devices.net;DeviceId=RaspberryBoard;SharedAccessKey=dRuiHk4zURljC36CIamu4m4gVGSp4WuUH5uxk8uozjw="/>
		<add key="MobileAppConnectionString" value="HostName=IoTPwr.azure-devices.net;DeviceId=MobileApp;SharedAccessKey=BoYL/uDNoJuOESeZ2ikYELHOCyFHZqzTkRUdaN3lrrM="/>
		<add key="ServiceConnectionString" value="HostName=IoTPwr.azure-devices.net;SharedAccessKeyName=service;SharedAccessKey=ei4kpLbA2fAC2hDxnXYuFR+d6Ig8FPeA0s1FCsZuKvQ="/>
	</appSettings>
</configuration>